::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
    text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
    text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
    text-align: center;
}


#search-bar {
    display: block;
    height: 2rem;
    /*width: 8rem;*/
    width: min-content;
    padding: 0 6px;
    margin-top: 2rem;

    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: none !important;
}