section {
    padding: 0 25vw;
}


#color-toggle {
    float: right;
    transform: translate(0, 3rem);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#viewport {
    height:  55vh;
    width:  100%; 
    margin-bottom: 2vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}
