header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

h1 {
    position: fixed;
    margin: 0;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%, 0);
    z-index: 10;
}

#calc {
    height: 50vh;
}

.contentBody {
    margin-top: 25vh;
    height: 75vh;
}

#visuals {
    margin-top: 2.5vh;
}

#fadeOut {
    position: fixed;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100vw;
    z-index: 5;
    background: linear-gradient(white 90%, transparent);
}