header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

h1 {
    position: fixed;
    margin: 0;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%, 0);
    z-index: 10;
}

#fadeOut {
    position: fixed;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100vw;
    z-index: 5;
    background: linear-gradient(white 90%, transparent);
}

section {
    height: 0;
}

#refs {
    margin-top: 25vh;
    margin-bottom: 35vh;
    padding-bottom: 0;
}

#refs ol {
    padding: 0;
}

#refs ol > li {
    list-style: none;
    padding: 1.5vh 0;
}

#refs .title {
    font-style: italic;
}

#refs .magazine {
    font-weight: bold;
}