body {
    height: 100vh;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 6vh;
    /* hh (header height) = 6vh */
    background: #03A64A;
    font-family: 'Roboto', sans-serif;
}

header img {
    float: left;
    margin: 0.5vh;
    margin-left: 4vw;
    margin-right: 2vw;
    width: 5vh; /* hh - margin */
    height: 5vh; /* hh - margin */
}

header ul {
    position: absolute;
    right: 4vw;
}

header li {
    float: right;
    list-style-type: none;
    width: 8vw;
    height: 6vh; /* hh */
}

header li a {
    display: block;
    text-decoration: none;
    color: #404040;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 6vh; /* hh */
}

header li a:hover {
    background: #13B65A;
}

#titleLink {
    text-decoration: none;
    color: black;
}

section {
    height: 80vh;
    padding: 0 32.5vw;
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 5vh;
    line-height: 5vh;
    font-weight: 500;
    margin: 4vh 0;
    padding: 3vh;
}

h2 {
    display: inline-block;
    position: relative;
    margin: 3vh 0;
}
    
h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, -50%);
    z-index: -1;
    display: inline-block;
    height: 0.25em;
    width: 100%;
    background: #09AC50;
}

h3 {
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 2.5vh;
}

header h3:hover {
    cursor: pointer;
}

.InputFields {
    margin: 5vh;
}

.contentBody {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.contentBody h3 {
    color: grey;
}

.contentBody a {
    text-decoration: none;
    color: #03A64A;
}

i {
    font-family: 'Material Icons';
    color: #09AC05;
    font-size: 1.7vw;
    font-style: normal;
}

.icon_btn {
    border: none;
    padding: 0;
    cursor: pointer;
}