html {
    font-size: 1rem !important;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    overflow-x: hidden;
}

/* nav bar */

nav {
    background: #03A64A !important;
    font-family: 'Roboto', sans-serif;
}

#logo {
    display: flex;
    align-items: center;
}

nav img {
    width: 3rem; /* hh - margin */
    height: 3rem; /* hh - margin */
    margin-left: 2rem;
    margin-right: 1rem;
}

#title {
    font-family: 'Questrial', sans-serif;
}

nav ul {
    margin-right: 1rem !important;
}

nav li a {
    padding: 0 2rem !important;
}

nav li a:hover {
    background: #13B65A !important;
}

#three-line i {
    /*color: grey !important;*/
}



section {
    height: 80vh;
    padding: 0 32.5vw;
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 3.2rem !important;
    line-height: 3.2rem !important;
    font-weight: 500;
    margin: 4vh 0;
    padding: 3vh;
}

h2 {
    font-size: 1.6rem !important;
    font-weight: 700 !important;
    display: inline-block;
    position: relative;
    margin: 3vh 0;
}
    
h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, -50%);
    z-index: -1;
    display: inline-block;
    height: 0.25em;
    width: 100%;
    background: #09AC50;
}

h3 {
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 1.5rem !important;
}

header h3:hover {
    cursor: pointer;
}


p {
    line-height: 1.1rem;
}


.InputFields {
    margin: 5vh;
}

.contentBody {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.contentBody h3 {
    color: grey;
}

.contentBody a {
    text-decoration: none;
    color: #03A64A;
}

i {
    font-family: 'Material Icons';
    color: #09AC05;
    font-size: 1.7vw;
    font-style: normal;
}

.icon_btn {
    border: none;
    padding: 0;
    cursor: pointer;
}