#loadingBar {
    height: 1em;
    margin: 0 10vw;
    margin-top: 5vh;
    border-radius: 2px;
    background: #09AC50;
    width: 0;
    -webkit-transition: all 8s;
    transition: all 8s;
}

.load {
    width: 15vw;
}

a {
    text-decoration: none;
    color: #09AC50;
}