{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
{% endblock %}

{% block title %} Voronoia {% endblock %}


{% block body %}
  
 {% block header %}
<header>
   <img src="{{ url_for( 'static', filename ='tree.jpg' )}}">
   <a id="titleLink" href="../v4rna"><h3>Voronoia</h3></a>
   <ul>
     <li><a href="/v4rna/references">references</a></li>
     <li><a href="/v4rna/methods">methods</a></li>
     <li><a href="/v4rna/databank">database</a></li>
     <li><a href="/v4rna/submit">submit</a></li>
     <li><a href="/v4rna">home</a></li>
   </ul>
 </header>
 {% endblock %}

 {% block content %}
 {% endblock %}

 {% block footer %}
 {% endblock %}

 {% block scripts %}
 {{ super() }}
 {% endblock %}

{% endblock %}
