{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
{% endblock %}


{% block body %}
  
 {% block header %}
<header>
   <img src="{{ url_for( 'static', filename ='tree.jpg' )}}">
   <a id="titleLink" href="{{ url_for('index') }}"><h3>Voronoia</h3></a>
   <ul>
     <li><a href="{{ url_for('tutorial') }}">tutorial</a></li>
     <li><a href="{{ url_for('methods') }}">methods</a></li>
     <li><a href="{{ url_for('database') }}">database</a></li>
     <li><a href="{{ url_for('submit') }}">submit</a></li>
     <li><a href="{{ url_for('index') }}">home</a></li>
   </ul>
 </header>
 {% endblock %}

 {% block content %}
 {% endblock %}

 {% block footer %}
 {% endblock %}

 {% block scripts %}
 {{ super() }}
 {% endblock %}

{% endblock %}
