{% extends "bootstrap/base.html" %}

{% block head %}
<title>Voronoia</title>
<!-- universal css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" media="all">
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}


{% block body %}
  
 {% block header %}
<header>
   <img src="{{ url_for( 'static', filename ='tree.jpg' )}}">
   <a id="titleLink" href="{{ url_for('index') }}"><h3>Voronoia</h3></a>
   <ul>
     <li><a href="{{ url_for('tutorial') }}">tutorial</a></li>
     <li><a href="{{ url_for('methods') }}">methods</a></li>
     <li><a href="{{ url_for('database') }}">database</a></li>
     <li><a href="{{ url_for('submit') }}">submit</a></li>
     <li><a href="{{ url_for('index') }}">home</a></li>
   </ul>
 </header>
 {% endblock %}

 {% block content %}
 {% endblock %}

 {% block footer %}
 {% endblock %}

 {% block scripts %}
 {{ super() }}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 {% endblock %}

{% endblock %}
