{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/databaseStyle.css')}}" media="all">
{% endblock %}

{% block header %}
  {{super()}}
{% endblock %}

{% block content %}
<section>
    <center>
        <h1>PDB Entries</h1>
        <div id="databank" class="contentBody">
            <h2>S E A R C H</h2>
            <form method="POST" enctype="multipart/form-data">
            <center>
              <input id="search-bar" name="pdb-id" type="search" placeholder="enter a PDB ID (e.g. 3sn6)">
	      <h5 style="color:red;margin-top:3em;">{{message}}</h5>
            </center>
            </form>
        </div>
    </center>
</section>
{% endblock %}


{% block scripts %}
{{super()}}
{% endblock %}
