{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" media="all">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='formularStyle.css')}}" media="all">
<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %} {{super()}} hallo {% endblock %}

{% block header %}
  {{super()}}
{% endblock %}
  
{% block content %}
<section>
    <center>
        <h1>Form</h1>
        <div id="submit" class="contentBody">
            <h2>S U B M I T</h2>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}    
                <div id="fileUploadInterface">
                    <!-- browse pdb -->
                    <label id="uploadPdb" for="inputPdb">
                        <div>
                            Upload a PDB
                        </div>
                    </label>
                    <!-- flask-wtf input, display none -->
                    <div class="inputField hide">
                        {{ form.pdb.label(class='input') }}
                        <br>
                        {{ form.pdb(id='inputPdb', class='input') }}
                    </div>
                    <!-- drag & drop -->
                    <div id="dragDropField">
                        <i>cloud_upload</i>
                        <span>Drag and drop a PDB file here</span>
                    </div>
                </div>
                
                <div id="submitInterface" class="hide">
                    <!-- pdb file: xxxx.pdb -->
                    <div class="inputField">
                        <p>pdb file</p>
                        <div id="fileField"></div>
                    </div>
                    <!-- atom radii: ProtOr -->
                    <div class="inputField">
                        <p>atom radii</p>
                        <select class="input" id="inputOptions" name="options">
                            <option value="protor">ProtOr</option>
                            <option value="stouten">Stouten</option>
                        </select>
                    </div>                             
                    <!-- tag: xx -->
                    <div class="inputField">
                        <p>tag</p>
                        <input class="input" id="tag" name="tag" type="text">
                    </div>
                    <!-- email *: x@x.com -->
                    <div class="inputField">
                        <p>email *</p>
                        <input class="input" id="email" name="email" type="text" value="anonymous">
                    </div>
                    <!-- Analyse -->
                    <input id="submitbtn" name="submit" type="submit" value="Analyse">
                </div>
            </form>
        </div>
  </center>
</section>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">
    
    var file;
    
    function interfaceChange(file) {
        console.log('interfaceChangeSubmissionServices');
        console.log(file);
        $('#fileUploadInterface').addClass('hide');
        $('#submitInterface').removeClass('hide');
        /*$('#fileField').html('<p>' + file.name + '</p><i>close</i>');*/
        $('#fileField').html('<p>' + file.name + '</p>');
    }
    
    $(document).ready(function() {
        $('#dragDropField').on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
            e.preventDefault();
            e.stopPropagation();
        });
        
        $('#dragDropField').on('dragover dragenter', function() {
            $('#dragDropField').addClass('dragOver');
        });
        
        $('#dragDropField').on('dragleave dragend drop', function() {
            $('#dragDropField').removeClass('dragOver');
        });
        
        $('#dragDropField').on('drop', function(e) {
            file = e.originalEvent.dataTransfer.files[0];
            interfaceChange(file);
        });
        
        $('#inputPdb').on('change', function() {
            file = $('#inputPdb').prop('files')[0];
            interfaceChange(file);  
        });
        
        $('#submitbtn').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();                //Die Eventfunktionen verhindern das zweimalige ausführen von $.ajax()
            console.log(document.getElementById('tag').value.trim());
            if(!document.getElementById('tag').value.trim()) {
                $('#tag').css('border-bottom', '1px solid red');
            } else {
                var fd = new FormData($('form')[0]);
                fd.append("dnd", file);

    console.log(fd);
    console.log($('form'));

                $.ajax({
                    type: "POST",
                    url: "/v4rna/submit",
                    processData: false,
                    contentType: false,
    data: fd,
    success: window.setTimeout("window.location.href = 'results/' + document.getElementById('email').value.trim() + '/' + document.getElementById('tag').value.trim()", 3000)
/*
    function() {
    console.log('hallo');
    console.log('result/' + document.getElementById('tag').value.trim());
    window.location.href = 'results/' + tag;
    }
/* window.setTimeout( "window.location.href='status'",3000) */
/*    dataType: "json",
                    success: function(redirect) {
                        console.log('S O M E T H I N G');  
    console.log(redirect);
                            window.location = window.location.href.substring(0, window.location.href.length - 7) + redirect.Location + "?tag=" + redirect.tag; redirect.getResponseHeader('Location');
                    }*/
                });
            }
        });
        
    });
</script>
{% endblock %}
