{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" media="all">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='formularStyle.css')}}" media="all">
<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %} {{super()}} hallo {% endblock %}

{% block header %}
  {{super()}}
{% endblock %}
  
{% block content %}
<section>
    <center>
        <h1>Form</h1>
        <div id="submit" class="contentBody">
            <h2>S U B M I T</h2>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}    
                <div id="fileUploadInterface">
                    <label id="uploadPdb" for="inputPdb">
                        <div>
                            Upload a PDB
                        </div>
                    </label>
                    <div class="inputField hide">
                        {{ form.pdb.label(class='input') }}
                        <br>
                        {{ form.pdb(id='inputPdb', class='input') }}
                    </div>
                    <div id="dragDropField">
                        <i>cloud_upload</i>
                        <span>Drag and drop a PDB file here</span>
                    </div>
                </div>
                
                <div id="submitInterface" class="hide">
                    <div class="inputField">
                        <p>pdb file</p>
                        <div id="fileField"></div>
                    </div>
                    <div class="inputField">
                        <p>atom radii</p>
                        <select class="input" id="inputOptions" name="options">
                            <option value="protor">ProtOr</option>
                            <option value="stouten">Stouten</option>
                        </select>
                    </div>                             
                    <div class="inputField">
                        <p>tag</p>
                        <input class="input" id="tag" name="tag" type="text">
                    </div>
                    <div class="inputField">
                        <p>email (optional)</p>
                        <input class="input" id="email" name="email" type="text" value="anonymous">
                    </div>

                    <input id="submitbtn" name="submit" type="submit" value="Analyse">
                </div>
            </form>
        </div>
  </center>
</section>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">

    var file;
    
    function interfaceChange(file) {
        $('#fileUploadInterface').addClass('hide');
        $('#submitInterface').removeClass('hide');
        $('#fileField').html('<p>' + file.name + '</p>');
    }

    
    $(document).ready(function() {
        $('#dragDropField').on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
            e.preventDefault();
            e.stopPropagation();
        });
        
        $('#dragDropField').on('dragover dragenter', function() {
            $('#dragDropField').addClass('dragOver');
        });
        
        $('#dragDropField').on('dragleave dragend drop', function() {
            $('#dragDropField').removeClass('dragOver');
        });
        
        $('#dragDropField').on('drop', function(e) {
            file = e.originalEvent.dataTransfer.files[0];
            interfaceChange(file);
        });
        
        $('#inputPdb').on('change', function() {
            file = $('#inputPdb').prop('files')[0];
            interfaceChange(file);  
        });
        
        $('#submitbtn').on('click', function(e) {
            if(!document.getElementById('tag').value.trim()) {
                $('#tag').css('border-bottom', '1px solid red');
            }
        });       
    });
</script>
{% endblock %}
