{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='ngl/css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='ngl/css/main.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='ngl/css/dark.css')}}" />

    <style>
        #sidebar {
            position: absolute;
            right: 0px;
            top: 32px;
            bottom: 0px;
            width: 500px;
            overflow: hidden;
        }
    </style>
{% endblock %}


{% block header %}
{% endblock %}


{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- THREE -->
<script src="{{url_for('static',filename='ngl/js/three/three.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/three/Detector.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/three/TypedArrayUtils.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/three/controls/TrackballControls.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/three/loaders/OBJLoader.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/three/loaders/PLYLoader.js')}}"></script>

<!-- LIB -->
<script src="{{url_for('static',filename='ngl/js/lib/async.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/promise.min.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/sprintf.min.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/jszip.min.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/pako.min.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/lzma.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/bzip2.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/chroma.min.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/svd.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/signals.min.js')}}"></script>

<!-- NGL -->
<script src="{{url_for('static',filename='ngl/js/ngl/shims.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/core.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/worker.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/utils.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/symmetry.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/alignment.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/geometry.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/selection.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/superposition.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/structure.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/trajectory.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/surface.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/script.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/streamer.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/parser.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/writer.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/loader.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/viewer.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/buffer.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/representation.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/stage.js')}}"></script>

<!-- UI -->
<script src="{{url_for('static',filename='ngl/js/lib/tether.min.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/colorpicker.min.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/ui/ui.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/ui/ui.extra.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/lib/ui/ui.ngl.js')}}"></script>
<script src="{{url_for('static',filename='ngl/js/ngl/gui.js')}}"></script>

<script>

    if( !Detector.webgl ) Detector.addGetWebGLMessage();

    NGL.mainScriptFilePath = "../ngl/js/build/ngl.full.min.js";
    NGL.cssDirectory = "../ngl/css/";
    NGL.assetsDirectory = "../ngl/";

    NGL.DatasourceRegistry.add(
        "data", new NGL.StaticDatasource("data/")
    );

    $().ready(function() {
        NGL.init(onInit);
    });


    function onInit(){
        console.log("on init");
        var stage = new NGL.Stage();
        
        NGL.MenubarWidget = function( stage ){
            var container = new UI.Panel();
            container.add( new NGL.MenubarViewWidget( stage ) );
            container.add( new NGL.MenubarHelpWidget( stage ) );
            container.add(
                new UI.Panel().setClass( "menu" ).setFloat( "right" ).add(
                    new UI.Text( "NGL Viewer " + NGL.REVISION ).setClass( "title" )
                )
            ); 
            return container;
        };      
        NGL.StageWidget( stage );
        
        var example = NGL.GET( "example" );
        if( example ) NGL.ExampleRegistry.load( example, stage );
        var load = NGL.GET( "load" );
        if( load ) stage.loadFile( load, { defaultRepresentation: true } );

        visualize(stage);
    }


    function getFileURL(filename) {
        var loc = window.location;
        var command = loc.protocol + "//" + loc.host + "{{url_for('download', user=user, job=job, filename='')}}" + filename;
        return command;
    }


    function loadPDB(stage, filename, name, representations, representation_dicts, center) {
        file = getFileURL(filename);

	    stage.loadFile(file, { defaultRepresentation: true }).then( function(comp) {
            comp.setName(name);
	        comp.setSelection("");

            for(var i = 0; i < representations.length; i++) {
	            comp.addRepresentation(representations[i], representation_dicts[i]);
            }

	        if(center) {
	            comp.centerView();
	        }
        });
    }


    function visualize(stage) {
        // get search parameters
        params = new URLSearchParams(document.location.search.substr(1));
        user = params.get('user');
        job = params.get('job');
        lic_selection = params.get('lic').split('_').join(' ');

        // load molecule structure
        loadPDB(stage, "protein.pdb", "structure", ["cartoon", "licorice"],  [{colorScheme: 'bfactor'}, {sele: lic_selection}], true);

        // load cavaties
	    loadPDB(stage, "onlyHoles.pdb", "holes", ["ball+stick"], [{radius: 'bfactor', colorscheme: 'bfactor'}]);
    }

</script>

{% endblock %}
