{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='referencesStyle.css')}}" media="all">
{% endblock %}

{% block header %}
  {{super()}}
{% endblock %}

{% block content %}
<section>
    <center>
        <h1>References</h1>
        <div id="fadeOut"></div>
        <div id="refs" class="contentBody">
            <h2>S O U R C E S</h2>
            <ol>
                <li>[1] <span class="title">Deviations from standard atomic volumes as a quality measure for protein crystal structures</span> <br>
                        Pontius, J., J. Richelle, and S. J. Wodak. <br>
                        <span class="magazine">J Mol Biol 264</span>
                        (1996)
                        9, 121-136
                </li>

                <li>[2] <span class="title">Voronoi Cell: New Method for Allocation of Space among Atoms: Elimination of Avoidable Errors in computation of Atomic Volume and Density</span> <br>
                        Goede, A., R. Preissner, and C. Froemmel. <br>
                        <span class="magazine">Bioinformatics 18</span>
                        (1997)
                        42, 985-995
                </li>
                <li>[3] <span class="title">Computations of protein volumes: sensitivity analysis and parameter database</span> <br>
                        Tsai, J. and M. Gerstein. <br>
                        <span class="magazine">Bioinformatics 18</span>
                        (2002)
                        42, 985-995
                </li>
                <li>[4] <span class="title">Inhomogeneous molecular density: reference packing densities and distribution of cavities within proteins</span> <br>
                        Rother, K., R. Preissner, A. Goede, and C. Froemmel. <br>
                        <span class="magazine">Bioinformatics 19</span>
                        (2003)
                        5, 2112-2121
                </li>
                <li>[5] <span class="title">Molecular packing and packing defects in helical membrane proteins</span> <br>
                        Hildebrand, P. W., K. Rother, A. Goede, R. Preissner, and C. Froemmel <br>
                        <span class="magazine">Biophys J 88</span>
                        (2005)
                        49, 1970-1977
                </li>
                <li>[6] <span class="title">Determining the minimum number of types necessary to represent the sizes of protein atoms</span> <br>
                        J. Tsai, N. Voss, and M. Gerstein. <br>
                        <span class="magazine">Bioinformatics 17</span>
                        (2001)
                        10, 949-956
                </li>
                <li>[7] <span class="title">An effective solvation term based on atomic occupancies for use in protein</span> <br>
                        P. F. W. Stouten, C. Froemmel, H. Nakamura, and C. Sander <br>
                        <span class="magazine">Mol Simul</span>
                        (1993)
                        10, 97-120
                </li>
                <li>[8] <span class="title">Voronoia: analyzing packing in protein structures</span> <br>
                        Rother K, Hildebrand PW, Goede A, Gruening B, Preissner R. <br>
                        <span class="magazine">Nucleic Acids Res. (Database issue)</span>
                        (2009)
                        37, D393-5
                </li>
                <li>[9] <span class="title">Calculation of standard atomic volumes for RNA and comparison with proteins: RNA is packed more tightly</span> <br>
                        Voss N R, Gerstein M. <br>
                        <span class="magazine">Journal of molecular biology</span>
                        (2005)
                        346.2, 477-92
                </li>
            </ol>
        </div>
    </center>
</section>
<section>
    <center>
        <h1></h1>
    </center>
</section>
{% endblock %}