{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/submitStyle.css')}}" media="all">
{% endblock %}

{% block title %} {{super()}} hallo {% endblock %}

{% block header %}
  {{super()}}
{% endblock %}
  
{% block content %}
<section>
    <center>
        <h1>Form</h1>
        <div id="submit" class="contentBody">
            <h2>S U B M I T</h2>
            <form method="POST" enctype="multipart/form-data" id="baseform">
                {{ form.hidden_tag() }}    
                <div id="fileUploadInterface">
                    <label id="uploadPdb" for="inputPdb">
                        <div>
                            Upload a PDB
                        </div>
                    </label>
                    <div class="inputField hide">
                        {{ form.pdb.label(class='input') }}
                        <br>
                        {{ form.pdb(id='inputPdb', class='input') }}
                    </div>
                    <div id="dragDropField">
                        <i>cloud_upload</i>
                        <span>Drag and drop a PDB file here</span>
			<span style="margin-top: 30px;">Or a ZIP with max 10 MB </span>
                    </div>
                    <button id="load_example" name="load_example" class="icon_btn white" form="null"><i>archive</i></button> Example input
                </div>
		<div id="dragDropError" style="margin-top: 50px; text-align: center; font-size: x-large; color: red;">{{error_str}}</div>
                
                <div id="submitInterface" class="hide">
                    <div class="inputField">
                        <p>pdb or zip file</p>
                        <div id="fileField"></div>
                    </div>
                    <!--
                    <div class="inputField">
                        <p>atom radii</p>
                        <select class="input" id="inputOptions" name="options">
                            <option value="protor">ProtOr</option>
                            <option value="stouten">Stouten</option>
                        </select>
                    </div>
                    -->                             
                    <div class="inputField">
                        <p>unique tag (alphanumeric) </p>
                        <div id="tag_wrapper">
                            <input class="input" id="tag" name="tag" type="text" pattern="^[a-zA-Z0-9 ]+$" required>
                            <button id="generate_tag" name="generate_tag" class="icon_btn white" form="null"><i>casino</i></button>
                        </div>
                    </div>
                    <div class="inputField">
                        <p>email (optional)</p>
                        <input class="input" id="email" name="email" type="text" value="anonymous" style="color: grey;">
                    </div> 

		    <div class="inputField">
		      <label>
		      <input class="input" id="highres" name="highres" type="checkbox" />
		      <span> high resolution (not for zip upload)</span>
		      </label>
		    </div>

		    <div class="inputField">
		      <label>
			<input id="keepinternal" type="radio" name="selector" value="keepinternal" checked />
			<span>keep internal waters (default)</span>
		      </label>
		      <br>

		      <label>
			<input id="keepall" type="radio" name="selector" value="keepall"  />
			<span>keep all waters</span>
		      </label>
		      <br>
		      
		      <label>
			<input id="eraseall" type="radio" name="selector" value="eraseall" />
			<span>erase all waters</span>
		      </label>
		    </div>
		    
		    <div id="submitError" style="margin-top: 50px; text-align: center; font-size: x-large; color: red;">{{error_str}}</div>
		    
                    <input id="submitbtn" name="submit" type="submit" value="Analyse">
                </div>
            </form>
        </div>
  </center>
</section>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>

<script type="text/javascript">

    var file;
    

    function generate_random_tag() {
        tag = '';
        var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        for (var i = 0; i < 15; i++ ) {
            tag += chars.charAt(Math.floor(Math.random() * chars.length));
        }
        document.getElementById('tag').value = tag;
    }


    function interface_change(file, is_example) {
        $('#fileUploadInterface').addClass('hide');
        $('#submitInterface').removeClass('hide');
        $('#fileField').html('<p>' + file.name + '</p>');
        if (is_example) {
            generate_random_tag();
        }
    }

    
    $(document).ready(function() {
        $('#dragDropField').on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
            e.preventDefault();
            e.stopPropagation();
        });

        
        $('#dragDropField').on('dragover dragenter', function() {
            $('#dragDropField').addClass('dragOver');
        });

        
        $('#dragDropField').on('dragleave dragend drop', function() {
            $('#dragDropField').removeClass('dragOver');
        });

			    
        $('#dragDropField').on('drop', function(e) {

            file = e.originalEvent.dataTransfer.files[0];
	    if( file.size > 10000000){
                $('#dragDropError').text( 'Max file size: 100MB');
            }
            else{
   
                dt = new DataTransfer();
                dt.items.add(file);

                inputPdb.files = dt.files;

                interface_change(file, false);
            }
        });

        
        $('#inputPdb').on('change', function() {
            file = $('#inputPdb').prop('files')[0];
            interface_change(file, false);  
        });


        $('#load_example').on('click', async function() {
            url = "{{url_for('load_example')}}";
            file = await fetch(url).then(r => r.blob()).then(blobFile => new File([blobFile], "{{example_pdb}}", { type: "application/x-aportisdoc"}));
            interface_change(file, true);
        });


        $('#generate_tag').on('click', function() {
            generate_random_tag();
        });

    });
</script>
{% endblock %}
