{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='ngl.js')}}"></script>


<script> 
    NGL.mainScriptPathFile = "{{url_for('static', filename='ngl.js')}}";

    $().ready( function() {

        stage = new NGL.Stage("viewport");
        stage.setParameters( { backgroundColor: "black" } );

        // load molecule structure
        loadPDB(stage, ".vor.pdb", "molecules", ["cartoon"],  [{colorScheme: 'bfactor',colorReverse: true}], true);

        // load molecule structure
        loadPDB(stage, ".vor.pdb", "hetatm", ["hyperball"],  [{opacity: 0.5, sele: "hetero"}], false);

        // load cavity neighboring residues
        loadPDB(stage, "_neighbors.pdb", "neighbors", ["licorice"],  [{color: schemeId}], false);

        // load cavities
        loadPDB(stage, "_holes.pdb", "cavities", ["ball+stick"], [{radius: 'bfactor', colorScheme: schemeId}]);


        var licButton = createElement("input", {
            type: "button",
            value: "toggle side-chains",
            onclick: function () {
                // add full menu stuff here:
                stage.getRepresentationsByName( "licorice" ).list.forEach( function( repre ){
                    repre.setVisibility( !repre.visible );
                } );
            }
        }, { 
            top: "24px", 
            left: "24px",
            background: "#1c1f26",
            color: "#b8b8b8",
            border: "none",
            padding: "8px"
        });
        addElement(licButton,stage);


        var returnButton = createElement("input", {
            type: "button",
            value: "return",
            onclick: function() {
                window.location.replace( {% block return %}{% endblock %} );
            }
        }, {
            top: "126px",
            left: "24px",
            background: "#1c1f26",
            color: "#b8b8b8",
            border: "none",
            padding: "8px"
        });
        addElement(returnButton, stage);


        var snapButton = createElement("input", {
            type: "button",
            value: "full menu",
            onclick: function () {
                window.location.replace( {% block fullmenu %}{% endblock %} );
            }
        }, { 
            top: "78px", 
            left: "24px",
            //fontFamily: "Material Icons",
            //fontSize: "25px",
    //background: "none",
    background: "#1c1f26",
            border: "none",
            color: "#b8b8b8", 
        });
        addElement(snapButton,stage);


    
    });

    
    function getFileURL(ending) {
        var loc = window.location;
        var command = loc.protocol + "//" + loc.host + {% block file_download %}{% endblock %} + ending;
        return command;
    }


    function loadPDB(stage, ending, name, representations, representation_dicts, center) {
        file = getFileURL(ending);

        stage.loadFile(file, { defaultRepresentation: false }).then( function(comp) {
            comp.setName(name);
            //comp.setSelection(selection);

            for( var i = 0; i < representations.length; i++ ) {
	            comp.addRepresentation(representations[i], representation_dicts[i]);
            }

            if(center) {
                comp.autoView();
                //comp.centerView();
            }
        });
    }

    // for color scheme
    var schemeId = NGL.ColormakerRegistry.addScheme(function (params) {
        this.atomColor = function (atom) {
            if (atom.occupancy < 0) {
                return 0xeee8aa;  // white
            } else if (atom.occupancy > 1.45) {
                return 0x0000cd;  // blue
            } else {
                 return 0x87cefa;  // light blue
                 //return 0x00FF00;  // green
            }
        };
    });



function addElement (el,stage) {
    Object.assign(el.style, {
        position: "absolute",
        zIndex: 10
    });
    el.className += " menu-button";
    stage.viewer.container.appendChild(el);
};



function createElement (name, properties, style) {
    var el = document.createElement(name);
    Object.assign(el, properties);
    Object.assign(el.style, style);
    return el;
};

 


				
</script>

{% endblock %}
