{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='waitStyle.css')}}" media="all">
{% endblock %}

{% block header %}
  {{super()}}
{% endblock %}

{% block content %}
<section>
    <center>
        <h1>Progress</h1>
        <div id="status" class="contentBody">
            <h2>S T A T U S</h2>
            <p>Your Job has been submitted</p>
            <p>When the Calculation is done you can view your results under: 
            </br>
                <a id="res_link" href="{{url_for('results', user=user, job=job)}}">proteinformatics.uni-leipzig.de{{url_for('results', user=user, job=job)}}</a>
            </p>
            <button class="icon_btn" onclick="copy_url()"><i>content_paste</i></button>
            <div id="loadingBar"></div>
            <div id="status_div1"></div>
            <div id="status_div2"></div>
        </div>
  </center>
</section>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">

    $().ready(function() {
        update_progress("{{url_for('status', user=user, job=job)}}");
    })
    
    function update_progress(status_url) {
        $.getJSON(status_url, function(data) {
            if(data['status'] == 'finished') {
                if(data['error'] == '0') {
                    // success, post
                    window.location.href = '{{url_for("results", user=user, job=job)}}';
                } else {
                    $('#status_div1').text('Calculation Failed');
                    $('#status_div2').text('Try again and if problems still persist drop us an email.');
                }
            } else if(data['status'].substring(0, 5) == 'Error') {
                $('#status_div1').text('Job Submission Failed');
                $('#status_div2').text('Try again and if problems still persist drop us an email.');
            } else {
                // rerun function every 10 seconds if the calculation is not done
                setTimeout(function() {
                    update_progress(status_url);
                }, 5000);
            }

        });
    }

    function copy_url() {
        var text = $("#res_link").text();
        var input = document.createElement('textarea');
        input.innerHTML = text;
        document.body.appendChild(input);
        input.select();
        document.execCommand("copy");
        document.body.removeChild(input);
    }
    
</script>


{% endblock %}
